.form-holder {
    width: 800px;
    margin: 0 auto;
    padding: 200px;
    border-radius: 8px;
    color: #fff;
  }
  
  .form-holder h2 {
    text-align: center;
  }
  
  .form-holder form {
    display: flex;
    flex-direction: column;
  }
  
  .form-holder input
   {
    margin-bottom: 10px;
    padding: 20px;
    width: 350px;
    border: none;
    border-radius: 12px;
  }
  .form-holder textarea{
    margin-bottom: 10px;
    padding: 20px;
    width: 300px;
    border: none;
    border-radius: 12px;
  }
  
  .form-holder button {
    margin-top: 40px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #4e5ac7;
    color: white;
    cursor: pointer;
  }
  
  .form-holder button:hover {
    background-color: #3b44a7;
  }
  

  .form-body-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .form-credentials{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-description{
    display: flex;
  }

  .hidden{
    display: none;
  }