.sidebar-container{
    margin-top: 40px;
    width: 300px;
    height: 600px;
    border-radius: 20px;
    background-color: #D9D9D9;
}
a:hover{
    cursor: pointer;
    color: #524077;
}

.menu{
    display: flex;
    flex-direction: column;
}

ul{
    list-style-type: none;
    text-align: left;
}

.li-title{
    font-size: 22px;
    color: #524077;
    margin-bottom: 10px;
}
.li-body{
    font-size: 18px;
    margin-bottom: 5px;
}