.dashboard-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-wrapper{
    display: flex;
    width: 90%;
    height: 90%;
}


.left-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    height: 100%;
}

.right-dashboard{
    width: 30%;
    height: 100%;
}

.left-upper-card{
    display: flex;
    width: 75%;
    height: 40%;
    background-color: #DAE7FF;
    margin-bottom: 40px;
}


.dashboard-image{
    margin-top: 53px
}

.greeting-admin{
    font-size: 38px;
    font-weight: bold;
}

/* Quick Actions css */
.quick-actions {
    border: 2px solid black;
    width: 80%;
    height: 80%;
    padding: 20px;
    margin-left: 3px;
    margin-top: 20px;
  }
  
  .quick-action-title{
    position: absolute;
    text-align: center;
    top: 41%;
    width: 210px;
    height: 35px;
    background-color: white;
  }
   h2{
    transform: translateY(-2px);
  }
  .actions{
    margin-top: 30px;
  }
  .section {
    margin-top: 20px;
  }
  
  .section h3 {
    border-bottom: 1px dashed grey;
    margin-bottom: 10px;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .action-button {
    width: 180px;
    height: 80px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .action-button:hover {
    background-color: #DAE7FF;
  }
  
  .green {
    border: 2px solid #90ee90; 
    background-color: #fff;
  }
  
  .red {
    border: 2px solid #f08080; 
    background-color: #fff;
  }
  
  .yellow {
    border: 2px solid #d4d42d;
    background-color: #fff; 
  }

  
  /* preview css */
  .preview{
    border: 2px solid black;
    width: 80%;
    height: 95%;
    padding: 20px;
    margin-left: 3px;
  }

  .preview-title{
    position: absolute;
    text-align: center;
    top: 14px;
    width: 140px;
    height: 35px;
    background-color: white;
  }
    /* Switch css */
    .switch-container {
        display: flex;
        border: 1px solid #ccc;
        border-radius: 15px;
        overflow: hidden;
      }
      
      .tab {
        flex: 1;
        text-align: center;
        padding: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      .tab.active {
        background-color: #000;
        color: #fff;
      }
      
      /* Card styles */
      .card {
        background-color: #DAE7FF;
        border-radius: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        color: #333;
        max-width: 400px;
        margin: 20px;
      }
      
      .id {
        margin-bottom: 10px;
        font-weight: bold;
      }
      
      .body {
        white-space: pre-wrap; 
      }
      .cards-container {
        height: 665px;
        overflow-y: auto;
        margin: 10px 0;
        padding-right: 10px; 
      }