.dashboard-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dashboard-wrapper{
    display: flex;
    width: 90%;
    height: 90%;
}


.left-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 70%;
    height: 100%;
}

.right-dashboard{
    width: 30%;
    height: 100%;
    background-color: blueviolet;
}

.left-upper-card{
    display: flex;
    width: 75%;
    height: 40%;
    background-color: #DAE7FF;
}

.left-buttom-card{
    width: 85%;
    height: 55%;
    background-color: #A38490;
}

.dashboard-image{
    margin-top: 53px
}

.greeting-admin{
    font-size: 38px;
    font-weight: bold;
}