  .page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8F8F8;
}

.wrapper{
    display: flex;
    width: 70%;
    height: 70%;
}

.left-side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: #d6c9fd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 55px;
    width: 50%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
}
.image-signin{
    width: 40%;
    height: 60%;
}

.form-field input {
    width: 500px;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid #d6c9fd;
    border-radius: 4px;
  }

  .login-title{
    font-size: 32px;
    color: #6B46D9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .login-button {
    width: 535px;
    padding: 20px;
    background-color: #6B46D9; 
    color: white;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }