html, body {
    overflow: hidden; 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.wrapper{
    display: flex;
    width: 60%;
    height: 60%;
    background-color: aquamarine;
}

.left-side{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: aliceblue;
}

.right-side{
    display: flex;
    width: 50%;
    height: 100%;
    background-color: bisque;
}